<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Top Down Operator Precedence</title>
     <link href="global.css" rel="stylesheet" type="text/css">
     <script src="tokens.js"></script>
     <script src="main.js"></script>
     <script src="parse.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
  
    <script>
      function  dump_ajax(fileName) {
          $.ajax({
            url : fileName,
            dataType: "text",
            success : function (data) {
                $("#INPUT").val(data);
            }
        });
      }
      function dump_get(fileName) {
          $.get(fileName, function (data) {
              $("#INPUT").val(data);
          });
      };
    </script>     
    
    <div id="header" class="header">
      <h1>Cargue el fichero que desea parsear</h1>
      <a href="test/index.html">1) Pruebas Mocha. </a>
      <div style="width:70%;margin:auto;">  
          <textarea autofocus cols = "80" rows = "5" id="INPUT"></textarea>
      </div>
      <br />
      <div>
        <button id ="input2" class="boton" type="button" onclick="dump_ajax('input.txt');">INPUT AJAX</button>
        <br>
        <button id ="input3" class="boton" type="button" onclick="dump_get('input2.txt');">INPUT GET</button>
        <br>
        <input id="PARSE" class="boton2" value=PARSE type=button>
      </div>
      <pre id="OUTPUT"></pre>
    </div>    
  </body>

</html>
